{% load static tailwind_tags form_filters %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}SCG{% endblock title %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

		{% comment %} icon {% endcomment %}
		<link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">


		{% comment %} icons {% endcomment %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		{% comment %} fonts {% endcomment %}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet">
		{% block header %}
		{% endblock header %}
	</head>

	<body class="bg-gray-50  leading-normal mx-0 font-sans">
		<div>
			{% block content %}
			{% endblock content %}
		</div>

		{% block scripts %}
		<script src="{% static 'js/backupReminder.js' %}"></script>
		{% endblock scripts %}
	</body>
</html>
