{% extends "dashboard.html" %}
{% load static tailwind_tags %}
{% load static %}
{% load form_filters %}
{% block title %} Actualizar Supervisor {% endblock title %}
{% block contentdash %}

<section class="text-gray-600 body-font w-screen overflow-auto">
    <div class="container px-5 py-14 my-10 bg-white shadow-lg rounded-lg ml-10 max-w-[1400px]">
        <div class="flex flex-col text-center w-full mb-10">
            <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Actualizar Supervisor</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Modifica los detalles del supervisor a continuación.</p>
        </div>

        <form method="POST" class="w-full mx-auto">
            {% csrf_token %}
            <div class="flex flex-wrap -m-2">
                {% for field in form %}
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label for="{{ field.id_for_label }}" class="leading-7 text-sm text-gray-600">{{ field.label }}</label>
                            {{ field|add_class:"w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" }}
                        </div>
                    </div>
                {% endfor %}
                
                <!-- Botones de Envío y Cancelar -->
                <div class="flex justify-end w-full items-end">
                    <div class="p-2 mt-4">
                        <button type="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-lg">Guardar Cambios</button>
                    </div>
                    <div class="p-2 mt-4 ">
                        <a href="{% url 'sp' %}" class="flex ml-auto text-white bg-red-500 border-0 py-1 px-4 focus:outline-none hover:bg-red-600 rounded text-lg">Cancelar</a>
                    </div>
                </div>
                
            </div>            
        </form>
        {% if request.user.is_superuser %}
        <div class="p-2 mt-4 ml-auto">
                <form method="POST" action="{% url 'borrar_supervisor' supervisor.id %}" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este Supervisor?');">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded">Eliminar Supervisor</button>
            </form>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}
