{% extends "dashboard.html" %}
{% load static tailwind_tags %}
{% load static %}
{% load form_filters %}
{% block title %} Contrato - {{ contrato.numero_contrato }} {% endblock title %}
{% block contentdash %}

<section class="text-gray-600 body-font w-screen overflow-auto">
    <div class="container px-5 py-14 my-10  bg-white shadow-lg rounded-lg ml-10 max-w-[1400px]">
        <div class="flex flex-col text-center w-full mb-4">
            <h1 class="sm:text-4xl text-3xl font-bold title-font mb-1 text-gray-900">Contrato - {{ contrato.objeto.lower }}</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base ">Id del contrato: {{ contrato.id }}</p>
        </div>

        <div class="container flex flex-col items-center mt-2">
            <div class="w-full max-w-4xl mb-6">
                <div class="bg-white shadow-md border overflow-hidden sm:rounded-lg">
                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">Información del Contrato</h3>
                        <p class="my-1 max-w-2xl text-sm text-gray-500">Detalles y atributos del contrato.</p>
                    </div>
                    <div class="border-t border-gray-200">
                        <dl>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Número de Contrato</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{% if contrato.numero_contrato %}{{contrato.numero_contrato }}{% else %}Actualmente no tiene número de contrato{% endif %}</dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Tipo de Contratación</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{% if contrato.tipo_contratacion %}{{ contrato.tipo_contratacion }}{% else %}Actualmente no tiene tipo de contratación{% endif %}</dd>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Objeto</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{{ contrato.objeto }}</dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Valor</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{% if contrato.valor %}{{ contrato.valor }}{% else %}Actualmente no tiene valor{% endif %}</dd>
                            </div>                            
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Clase</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{% if contrato.clase %}{{ contrato.clase }}{% else %}Actualmente no tiene clase{% endif %}</dd>
                            </div>
                            <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Contratista Asignado</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{% if contrato.contratista %}{{ contrato.contratista }}{% else %}Actualmente no tiene un contratista asignado{% endif %}</dd>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Fecha de Suscripción</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">{% if contrato.fecha_suscripcion_contrato %}{{ contrato.fecha_suscripcion_contrato }}{% else %}Actualmente no tiene fecha de suscripción{% endif %}</dd>
                            </div>
                            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                                <dt class="text-sm font-medium text-gray-500">Estado del Contrato</dt>
                                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 ">{% if contrato.estado_contrato  %}{{ contrato.estado_contrato }}{% else %}Actualmente no tiene estado{% endif %}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <a href="{% url 'contrato_editar' contrato.id %}" class="bg-sky-900 text-white px-8 py-2 rounded hover:bg-sky-700">
                    <i class="fa-solid fa-pen-to-square mr-1"></i>Editar Contrato
                </a>
            </div>
        <div class="flex flex-col text-center w-full my-1">
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Modificaciones del administrativas</p>
        </div>
        <div class="flex flex-row justify-center gap-4 mt-4">
            <a href="{% url 'crear_adicion' contrato.id %}" class="bg-emerald-400 hover:bg-emerald-300 text-white px-6 py-2 rounded"><i class="fa-solid fa-file-contract mr-1"></i> Crear Adición</a>
            <a href="{% url 'crear_prorroga' contrato.id %}" class="bg-green-500 hover:bg-green-400 text-white px-6 py-2 rounded"><i class="fa-solid fa-calendar mr-1"></i> Crear Prórroga</a>
            <a href="{% url 'crear_modificacion' contrato.id %}" class="bg-yellow-500 hover:bg-yellow-400 text-white px-6 py-2 rounded"><i class="fa-solid fa-circle-exclamation mr-1"></i> Crear Modificación</a>
            <a href="{% url 'crear_aclaracion' contrato.id %}" class="bg-amber-600 hover:bg-amber-500 text-white px-6 py-2 rounded"><i class="fa-solid fa-triangle-exclamation"></i> Crear Aclaración</a>
        </div>

        <div class="flex flex-col text-center w-full my-2">
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Ajustes Operativos</p>
        </div>
        <div class="flex flex-row justify-center gap-4 mt-4">
            <a href="{% url 'crear_ampliacion' contrato.id %}" class="bg-sky-900 hover:bg-sky-700 text-white px-6 py-2 rounded"><i class="fa-solid fa-circle-exclamation mr-1"></i>Crear Ampliacion</a>
            <a href="{% url 'crear_reinicio' contrato.id %}" class="bg-sky-900 hover:bg-sky-700 text-white px-6 py-2 rounded"><i class="fa-solid fa-circle-play mr-1"></i> Crear Reincio</a>
            <a href="{% url 'crear_suspension' contrato.id %}" class="bg-sky-900 hover:bg-sky-700 text-white px-6 py-2 rounded"><i class="fa-solid fa-circle-pause mr-1"></i> Crear Suspensión</a>
        </div>

        </div>
        
    </div>
</section>

{% endblock %}

{% block scripts %} 
<script>
    console.log('Script de detalles del contrato cargado');
</script>
{% endblock scripts %}
